.principalContainer {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-background-grey);
  font-size: 0.8em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow: hidden;
}
.principalContainer__link {
  text-decoration: none;
  font-style: italic;
  color: rgb(0, 0, 255);
}
