.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.principalContainer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: var(--color-white);
  padding: 0.8em;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border: 1px var(--color-main-orange) solid;
}
.principalContainer__h2 {
  font-size: 1.3em;
  margin: 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.inputContainer {
  display: flex;
  gap: 1em;
  align-items: center;
  width: 90%;
  justify-content: center;
}
.form__inputText {
  border-radius: 5px;
  outline: none;
  border: 1px var(--color-main-orange) solid;
  background-color: var(--color-background-grey);
  font-size: 1.2em;
}

.modalBtnContainer {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.modalBtnContainer__btn {
  border: 1px var(--color-main-orange) solid;
  background: var(--color-background-grey);
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  border-radius: 10px;
  color: var(--color-main-orange);
  justify-content: center;
  display: flex;
  width: 20%;
}
.modalBtnContainer__btn:hover {
  background-color: var(--color-main-orange);
  color: var(--color-white);
}
.modalBtnContainer__btn:hover .modalBtnContainer__icon {
  fill: var(--color-white);
}

.modalBtnContainer__icon {
  fill: var(--color-main-orange);
  width: 2em;
}

.modalBtnContainer__cancelBtn {
  border: 1px rgb(250, 110, 110) solid;
  background: var(--color-background-grey);
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  border-radius: 10px;
  color: rgb(250, 110, 110);
  display: flex;

  justify-content: center;
  gap: 0.5em;
}
.modalBtnContainer__cancelIcon {
  fill: rgb(250, 110, 110);
  width: 2em;
}
.modalBtnContainer__cancelBtn:hover {
  background-color: rgb(250, 110, 110);
  color: var(--color-white);
}

.modalBtnContainer__cancelBtn:hover .modalBtnContainer__cancelIcon {
  fill: var(--color-white);
}
