.principalContainer {
  display: flex;
  flex-wrap: wrap;
  width: 82vw;
  margin-left: 10vw;
  gap: 2em;
  padding: 2em;
  padding-top: 5em;
}
.principalContainer__Link {
  text-decoration: none;
  height: 12em;
}
