.principalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 14em;
  height: 10em;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px #e7e7e7 solid;
  transition: 0.5s;
  animation: scale-in;
  animation-duration: 0.5s;
}
.principalContainer:hover {
  background-color: var(--color-background-grey);
  scale: 120%;
}
.principalContainer__Img {
  width: 10em;
  height: 6em;
  border-radius: 10px;
}
.principalContainer__h2 {
  font-size: 1.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--color-main-text);
}
@keyframes scale-in {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
