@font-face {
    font-family: 'Cooper Black';
    src: url('../../../utils/Fonts/COOPBL.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Stand Alone';
    src: url('../../../utils/Fonts/Stand Alone.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
.principalContainer{
    width: 30em;
    height: 30em;
    position: relative;
    background: none;
}

.headContainer{
display: flex;
align-items:center;    
padding: 2em;
}
.infoContainer{
    display: flex;
    align-items: center;
    gap: 0.5em;
    height: 2.3em;
}
.logoPomo{
    fill:none;
    width: 5em;
}
.infoContainer__icon{
    width: 2em;
    fill: rgb(61, 61, 61);
}
.infoContainer__p{
    font-size: 1.3em;
    color:rgb(61, 61, 61);
    font-family: Cooper Black;
}
.imgInfo{
    position: absolute;
    width: 32em;
    bottom: 0;
    right: 0    ;
}
.headContainer__h1{
    font-family: Stand Alone;
    text-align: left;
    font-size: 2.5em;
    color: rgb(61, 61, 61);
    line-height: 0.5em;
}
.headContainer__span{
    font-size: 0.5em;
}
@keyframes slide {
    from {
      translate: -50vw;
    }
    to {
      translate: 0;
    }
  }
  
  .infoSoftSlide {
    animation: slide 2s ease forwards;
  }