@font-face {
    font-family: 'Cooper Black';
    src: url('../../../utils/Fonts/COOPBL.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

.principalContainer{
    width: 25em;
    height: 30em;
    padding: 2em;
    position: relative;
    background: none;
}

.headContainer{
display: flex;
align-items: center;
}
.infoContainer{
    display: flex;
    align-items: center;
    gap: 0.5em;
    height: 2.3em;
}
.logoPomo{
    fill:none;
    width: 10em;
}
.infoContainer__icon{
    width: 2em;
    fill: rgb(255, 255, 255);
}
.infoContainer__p{
    font-size: 1.3em;
    color:rgb(255, 255, 255); 
    font-family: Cooper Black;
}
.imgInfo{
    position: absolute;
    width: 35em;
    bottom: 0;
    right: 0    ;
}