
.formContainer{
    width: 25em;
    height: 30em;
    background-color: rgb(255, 255, 255) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly   ;
    padding: 2em;
    z-index: 900;
}
.headContainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
.headContainer__img{
    width: 5em;
    fill: #DB7D26;
}
.form{
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    justify-content: space-around;
    width: 72%;

}
.form__input{
    width: 100%;
    border: none;
    font-size: 1em;
    background-color:rgba(236, 236, 236, 0.541)  ;
    border-bottom: 2px solid #35E6C2;
    outline: none;
    height: 2em ;
    color:#353B39
}

.headContainer__h1{
font-size: 2em;
margin: 0;
color: #DB7D26;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.headContainer__h2{
    font-size: 2em;
margin: 0;
color: #DB7D26;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.form__btn{
    width:10em;
    font-size: 1.2em;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #DB7D26;
    color:rgb(255, 255, 255);
    padding: 0.5em;

}
.form__btn:hover{
    background-color: rgb(255, 255, 255);
    color: #DB7D26;
    border: 2px solid #DB7D26;
}
.inputsContainer{
    display: flex;
    align-items: center;
    width: 100%;
}

.form__icon{
    width: 2em;
    fill: rgb(182, 182, 182);
    margin-right: 1em;
}
.btnContainer{
    height: 10%;
}