
.formContainer{
    width: 25em;
    height: 30em;
    background-color: rgb(255, 255, 255) ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly   ;
   border: 2px #ff9966 solid;
    padding-top: 0;
    z-index: 900;
}
.headContainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background-image: url("../../../utils/images/verduras_402de1696c.jpg");
    width: 100%;
    height: 30%;
    background-size: cover;
    border-radius: 10px;
    
}

.form{
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items: center;
    justify-content: space-around;
    width: 72%;

}
.form__input{
    width: 100%;
    border: none;
    font-size: 1em;
    background-color:var(--color-background-grey)  ;
    border-bottom: 2px solid var(--color-main-blue);
    outline: none;
    height: 2em ;
    color: var(--color-main-text)
}

.headContainer__h1{
font-size: 2em;
margin: 0;
color: var(--color-white);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
-webkit-text-stroke: 1px var(--color-main-text);
}
.headContainer__h2{
    font-size: 2em;
margin: 0;
color: var(--color-white);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
-webkit-text-stroke: 1px var(--color-main-text);
}
.form__btn{
    width:10em;
    font-size: 1.2em;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--color-secondary-orange);
    color:var(--color-white);
    padding: 0.5em;

}
.form__btn:hover{
    background-color: rgb(255, 255, 255);
    color:var(--color-secondary-orange);
    border: 2px solid var(--color-secondary-orange);
}
.inputsContainer{
    display: flex;
    align-items: center;
    width: 100%;
}

.form__icon{
    width: 2em;
    fill: var(--color-icon-grey);
    margin-right: 1em;
}
.btnContainer{
    height: 10%;
}

@keyframes fadeIn {
    from {
      translate: 50vw;
    }
    to {
      translate: 0;
    }
  }
  
  .signUpFormEnter {
    animation: fadeIn 2s ease forwards;
  }