@font-face {
  font-family: "Stand Alone";
  src: url("../../../utils/Fonts/Stand Alone.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.principalContainer {
  display: flex;
  background-color: var(--color-background-grey);
  height: 2em;
  color: var(--color-main-orange);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 500;
  animation-name: slide-in;
  animation-duration: 1s;
}

.logoContainer {
  display: flex;
  align-items: center;
  font-family: Stand Alone;
}
.identifyContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 2vw;
}
.identifyContainer:hover .logoutMenu {
  display: block; /* Muestra el menú de logout al pasar el ratón */
}
.logo {
  width: 3em;
}
.icon {
  width: 2em;
  fill: var(--color-main-orange);
}
.identifyContainer__h1 {
  font-size: 1.3em;
  color: var(--color-main-blue);
}
.identifyContainer__h3 {
  font-size: 1.1em;
}
.identifyContainer__h2 {
  font-size: 1em;
}
.companyContainer {
  display: flex;
}
.iconUser {
  width: 1.2em;
  fill: var(--color-main-orange);
}

.logoutMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--color-background-grey);
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
  width: 5em;
  z-index: 500;
  animation-name: slide-in-menu;
  animation-duration: 0.5s;
}

.logoutMenu__link {
  text-decoration: none;
  color: var(--color-main-text);
}
.optionContainer:hover {
  background-color: var(--color-white);
  border: 1px var(--color-main-orange) solid;
}
.optionContainer {
  display: flex;
  border-radius: 10px;
  height: 2em;
  align-items: center;
  justify-content: center;
  border: 1px transparent solid;
  transition: 0.5s;
}

.optionContainer__p {
  font-size: 0.8em;
}
.principalContainer__link {
  text-decoration: none;
  color: var(--color-main-orange);
}

@keyframes slide-in {
  from {
    transform: translateY(-200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-menu {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
