#root {
  text-align: center;
  --color-main-text: rgb(61, 61, 61);
  --color-main-orange: #ff9966;
  --color-white: #ffffff;
  --color-main-blue: #6699cc;
  --color-background-grey: rgb(248, 248, 248);
  --color-secondary-orange: #db7d26;
  --color-icon-grey: rgb(182, 182, 182);
  --color-main-red: rgb(250, 110, 110);
  --color-main-green: rgb(96, 223, 79);
}
