.principalContainer {
  display: flex;
  flex-direction: column;
  border: 1px var(--color-main-orange) solid;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 65%;
  height: 80vh;
  margin-top: 1.5em;
  margin-bottom: auto;
  color: var(--color-main-text);
  padding: 1em;
  padding-top: 0;
  gap: 0.5em;
  z-index: 100;
  animation-name: slide-in;
  animation-duration: 1s;
}

.titleContainer {
  display: flex;
  align-items: center;
  border-bottom: 2px var(--color-background-grey) solid;
  justify-content: space-between;
  height: 10%;
}
.titleContainer__h1 {
  font-size: 1.2em;
  color: var(--color-main-text);
  margin: 0;
}

.clientContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.principalContainer__h4 {
  margin: 0;
  font-size: 0.9em;
}

.principalContainer__input {
  border-radius: 10px;
  outline: none;
  border: 2px var(--color-background-grey) solid;
  font-size: 1em;
}
.insertProductContainer {
  display: flex;
  height: 8%;
  align-items: center;
  gap: 0.5em;
}
.billContainer {
  display: flex;
  flex-direction: column;
  height: 70%;
  background-color: var(--color-background-grey);
  border-radius: 10px;
}
.billTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px var(--color-white) solid;
  padding-left: 1em;
}
.billProductContainer {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 90%;
  position: relative;
}
.billTitleContainer__h3 {
  width: 20%;
  text-align: center;
}

.closeSaleContainer {
  display: flex;
  align-items: center;
  height: 10%;
  justify-content: space-between;
  background-color: var(--color-background-grey);
  border-radius: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
  transition: 0.5s;
}
.closeSaleContainer:hover {
  background-color: var(--color-main-orange);
  box-shadow: 0 0 10px var(--color-main-orange);
  scale: 105%;
}
.closeSaleContainer:hover .closeSaleContainer__h3_title {
  color: var(--color-white);
}
.closeSaleContainer:hover .closeSaleContainer__span {
  color: var(--color-white);
}
.closeSaleContainer__h3 {
  font-size: 1.2em;
  transition: 0.5s;
}

.closeSaleContainer__span {
  color: #9c9c9c;
}

.cancelSaleContainer {
  display: flex;
  align-items: center;
  height: 10%;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.cancelSaleContainer__btn {
  border: 1px transparent solid;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1em;
  color: var(--color-main-orange);
  cursor: pointer;
  transition: 0.5s;
}

.cancelSaleContainer__btn:hover {
  border: 1px var(--color-main-orange) solid;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: openScale;
}

.modalContent {
  background: var(--color-white);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px var(--color-main-orange) solid;
  align-items: center;
  justify-content: center;
  animation-name: openScale;
  animation-duration: 0.5s;
}

.modalContent_h2 {
  margin: 0;
  color: var(--color-main-text);
}

.modalBtnContainer {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.modalBtnContainer__btn {
  border: 1px var(--color-main-orange) solid;
  background: var(--color-background-grey);
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  border-radius: 10px;
  color: var(--color-main-orange);
  display: flex;
  transition: 0.5s;
}
.modalBtnContainer__btn:hover {
  background-color: var(--color-main-orange);
  color: var(--color-white);
}
.modalBtnContainer__btn:hover .modalBtnContainer__icon {
  fill: var(--color-white);
}

.modalBtnContainer__icon {
  fill: var(--color-main-orange);
  width: 2em;
}

.modalBtnContainer__cancelBtn {
  border: 1px rgb(250, 110, 110) solid;
  background: var(--color-background-grey);
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  border-radius: 10px;
  color: rgb(250, 110, 110);
  display: flex;
  width: 40%;
  justify-content: center;
  gap: 0.5em;
  transition: 0.5s;
}
.modalBtnContainer__cancelIcon {
  fill: rgb(250, 110, 110);
  width: 2em;
}
.modalBtnContainer__cancelBtn:hover {
  background-color: rgb(250, 110, 110);
  color: var(--color-white);
}

.modalBtnContainer__cancelBtn:hover .modalBtnContainer__cancelIcon {
  fill: var(--color-white);
}

.billProductContainer__btn {
  visibility: hidden;
  width: 2.5em;
  height: 2.5em;
  border: 1px transparent solid;
  bottom: 1%;
  border-radius: 100%;
  position: sticky;
  left: 100%;
  background-color: var(--color-main-orange);
  cursor: pointer;
}
.billProductContainer__icon {
  fill: var(--color-white);
}
.billProductContainer__btn:hover {
  background-color: var(--color-white);
  border: 1px var(--color-main-orange) solid;
}

.billProductContainer__btn:hover .billProductContainer__icon {
  fill: var(--color-main-orange);
}

@keyframes openScale {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
